# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Environment variables
.env

# OS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Build artifacts
build/
dist/
*.egg-info/

# Docker volumes
postgres_data/

# systemd
*.service

# Jupyter
.ipynb_checkpoints/
